@import "../../../variabili";

p {
    color: $colore_testo_hover;
}

table {
    border: 1px solid yellow
}

td {
    border: 1px solid red;
}

.class1 {
    background-color: aqua;
}

.class2 {
    background-color: greenyellow;
}

.class3 {
    text-decoration: underline;
}