<header>
  <!--<p>Header</p> -->
  <navbar></navbar>
</header>

<main>
  <p>Main</p>
  <!--<app-primo-componente [stringa]="message"></app-primo-componente> -->

  <!--<app-subject></app-subject>-->
  <app-altri-subject></app-altri-subject>
</main>

<footer>
  <p>Footer</p>

  <!--<button type="button" class="btn btn-primary" (click)="clickBtn(10,1)">Somma 10+1</button>
  <div>Risultato Somma:{{ somma }}</div>



  <br><br><br><br>

  <div class="dir" appMiadir coloreBase="yellow" colore="aqua">DIRETTIVA</div>

  <br><br><br> -->


</footer>