<header>
  <!--<p>Header</p> -->
  <navbar></navbar>
</header>

<main>
  <p>Main</p>
  <!--<app-primo-componente [stringa]="message"></app-primo-componente> -->

  <!--<app-subject></app-subject>-->
  <!--<app-altri-subject></app-altri-subject>-->
  <!--<app-direttiva-if></app-direttiva-if>-->
  <!--<app-direttiva-for></app-direttiva-for>-->
  <hr>
  <!--<app-elenco-categoria (selezionaCategoria)="selezionaCategoria($event)"></app-elenco-categoria>
  <hr>
  <app-elenco-libri [categoriaSelezionata]="categoriaSelezionata"></app-elenco-libri>-->

  <app-elemento-categorie-subject></app-elemento-categorie-subject>
  <hr>
  <app-elemento-libri-subject></app-elemento-libri-subject>
  <hr>

  <hr>
</main>
<hr>
<footer>
  <p>Footer</p>

  <!--<button type="button" class="btn btn-primary" (click)="clickBtn(10,1)">Somma 10+1</button>
  <div>Risultato Somma:{{ somma }}</div>



  <br><br><br><br>

  <div class="dir" appMiadir coloreBase="yellow" colore="aqua">DIRETTIVA</div>

  <br><br><br> -->


</footer>